@tailwind base;
@tailwind components;
@tailwind utilities;

.signup-border {
  @apply rounded-3xl;
  position: relative;
}

.signup-border::before {
  content: "";
  position: absolute;
  top: -3px; /* Adjust the offset based on the border width */
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(180deg, #ff9900 0%, #072951 100%);
  border-radius: inherit;
  z-index: -1;
}

.hero {
  @apply relative w-full h-screen bg-cover bg-center bg-no-repeat;
  background-image: url("./../img/sky-bg.jpeg");
}

.hero::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full;
  background: #072951a6;
  z-index: 1;
}
